<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Homepage</h1>

    <nav>
        <a href="index">Homepage</a>
        <a href="customers">Customers</a>
        <a href="locations">Locations</a>
        <a href="products">Products</a>
        <a href="productsSales">ProductsSales</a>
        <a href="sales">Sales</a>
    </nav>

    <p>Use the above navigation to navigate to each page!</p>

</body>

</html>
