<!DOCTYPE html>
<!-- Citation for the following file:
Date: 02/29/2024
Based on osu-cs340-ecampus/flask-starter-app/templates
Used the bsg_people_app/templates/edit_people.j2 as a template for our product_edit.j2
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Products</h1>

    <div id="browse" style="display: block">
        <p><strong>Browse ProductsSales</strong></p>
        <table border="1" cellpadding="5">
            <tr>
                <th>saleID</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            {% for productSale in productsSales %}
            <tr>
                <td align="right">{{productSale['saleID']}}</td>
                <td align="right">{{productSale['description']}}</td>
                <td>{{productSale['quantity']}}</td>
            </tr>
            {% endfor %}

        </table>

        <p>&nbsp;</p>

        <div id="update" style="display: block">
            <form id="updateProduct" action="/edit_productSale/{{productsSales[0].saleID}}/{{productsSales[0].productID}}"
                method="post">
                <legend><strong>Update ProductSale</strong></legend>
                <fieldset class="fields">
                    <label>saleID:</label> {{productsSales[0].saleID}} - 
                    <label> Product: </label> {{productsSales[0].description}} - 
                    <label> Quantity </label> <input type="text" name="quantity" value="{{productsSales[0].quantity}}"
                        id="quantity">
                </fieldset>
                <input class="btn" type="submit" id="UpdateProductSale" value="Save Update ProductSale">
                <a href="javascript:history. back()">
                    <input class="btn" type="button" value="cancel" onclick="browseProductsSales()">
                </a>
            </form>
        </div><!-- update -->
        <p>&nbsp;</p>
    </div> <!-- browse -->

</body>

</html>